#div1 {
    background-color: rgb(255, 255, 255);
    display: flex;
}
#logo {
    margin-left: 2.63em;
    margin-top: 1.26em;
}
ul {
    display: flex;
}
#products {
    margin-left: 12.84em;
    padding-top: 2.46em;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-size: 15px;
}
#products:hover {
    color:red;
}
div:has(#products:hover) #triangle {
    animation: swivel .05s linear 1 forwards;
}
#triangle {
    width: 0;
    height: 0;
    margin-top: 2.75em;
    margin-left: .4em;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 5px solid red;
  }
@keyframes swivel {
  from{
      transform: rotate(0deg) translate(0px)
  }
  to {
      transform: rotate(90deg) translate(-3px)
  }
}
#shop {
    margin-left: 3.25em;
    padding-top: 2.5em;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}
#shop:hover {
    color: red;
}
#shop::after {
    content: "   ";
    display: block;
    position: relative;
    background-color: rgb(255, 255, 255);
    margin-top: 1.87em;
    height: .5em;
    width: 2.9em;
}
#div1:has(#shop:hover) #shop::after {
    content: "   ";
    display: block;
    position: relative;
    background-color: rgb(255, 0, 0);
    margin-top: 1.87em;
    height: .5em;
    width: 2.9em;
}
#give {
    margin-left: 3.25em;
    padding-top: 2.5em;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    text-decoration: none;
}
#give:hover {
    color: red;
}
#give::after {
    content: "   ";
    display: block;
    position: relative;
    background-color: rgb(255, 255, 255);
    margin-top: 1.87em;
    height: .5em;
    width: 2.65em;
}
#div1:has(#give:hover) #give::after {
    content: "   ";
    display: block;
    position: relative;
    background-color: rgb(255, 0, 0);
    margin-top: 1.87em;
    height: .5em;
    width: 2.65em;
}
#rewards {
    margin-left: 3.18em;
    padding-top: 2.5em;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    text-decoration: none;
}
#rewards:hover {
    color: red;
}
#rewards::after {
    content: "   ";
    color: blue;
    display: block;
    position: relative;
    background-color: rgb(255, 255, 255);
    margin-top: 1.87em;
    height: .5em;
    width: 5.3em;
}
#div1:has(#rewards:hover) #rewards::after {
    content: "   ";
    color: blue;
    display: block;
    position: relative;
    background-color: rgb(255, 0, 0);
    margin-top: 1.87em;
    height: .5em;
    width: 5.3em;
}
#where {
    margin-left: 3.30em;
    padding-top: 2.5em;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    text-decoration: none;
}
#where:hover {
    color: red;
}
#where::after {
    content: "   ";
    display: block;
    position: relative;
    background-color: rgb(255, 255, 255);
    margin-top: 1.87em;
    height: .5em;
    width: 8.2em;
}
#div1:has(#where:hover) #where::after {
    content: "   ";
    display: block;
    position: relative;
    background-color: rgb(255, 0, 0);
    margin-top: 1.87em;
    height: .5em;
    width: 8.2em;
}
#studio {
    margin-left: 3.25em;
    padding-top: 2.5em;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    text-decoration: none;
}
#studio:hover {
    color: red;
}
#studio::after {
    content: "   ";
    display: block;
    position: relative;
    background-color: rgb(255, 255, 255);
    margin-top: 1.87em;
    height: .5em;
    width: 7.4em;
}
#div1:has(#studio:hover) #studio::after {
    content: "   ";
    display: block;
    position: relative;
    background-color: rgb(255, 0, 0);
    margin-top: 1.87em;
    height: .5em;
    width: 7.4em;
}
#rosalia2 {
    position: relative;
    width: 100%;
    height: 90vh;
}
@media screen and (max-width: 600px) {
    ul {
        background-color: white;
        color: white;
    }
    #products {
        display: none;
    }
    #shop {
        display: none;
    }
    #triangle {
        display: none;
        /* border-left: 5px solid white; */
    }
    #give {
        display: none;
    }
    #rewards {
        display: none;
    }
    #where {
        display: none;
    }
    #studio {
        display: none;
    }
    #fill {
        content: "_";
        height: 1.2em;
    }
    #logo {
      margin-left: 45vw;
    }
  }